<div class="section">
	<div class="panel panel-default">
		<div class="panel-heading">{{headingTitle}} - {{greeting.content}}</p></div>
		<table class="table">
			<tr>
				<th>#</th>
				<th>用户名</th>
				<th>年龄</th>
				<th>操作</th>
			</tr>
			<tr>
				<td>1</td>
				<td>aaa</td>
				<td>3</td>
				<td>
					<div class="button-group">
						<button type="button" class="btn btn-default"
							ng-click="action.updateUser()">修改</button>
						<button type="button" class="btn btn-default"
							ng-click="action.deleteUser()">删除</button>
					</div>
				</td>
			</tr>
			<tr>
				<td>2</td>
				<td>bbb</td>
				<td>3</td>
				<td><div class="button-group">
						<button type="button" class="btn btn-default">修改</button>
						<button type="button" class="btn btn-default">删除</button>
					</div></td>
			</tr>
		</table>
	</div>
</div>